*{
    outline: none;
}
a{
    color: #0AC00A;
}
.container{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 40px;
    color: #0AC00A;
}
input{
    background-color: #121212;
    color: white;
    text-indent: 5px;
    font-size: 14pt;
    padding: 6px; 
    border-radius: 3px;
    border: 1px solid gray;
    margin-bottom: 10px;
}
input[type="button"]{
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    background-color: #0AC00A;
    border: none;
    padding: 10px;
}

h1{
    margin: auto;
}
label{
    margin-bottom: 2px;
}
body{
    height: 97vh;
    background-color:#030303;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

