
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    
}
input[type="button"]:hover{
    transition: all 0.3s ease;
    opacity: 0.8;
}
.mostrar{
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 36, 37, 0.719);
    
}
.apagar{
    display: none; 
}
.aparecer{
    display: flex;
    flex-direction: column;
}